body {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-color: rgb(42, 165, 83);
    text-align: center;
}
img {
    width: 100%;
}

h1 {
    font-size: 59px;
}

p {
    font-size: 30px;
}

nav {
    float: top;
    width: 100%;
    height: 10%;
    background: rgb(255, 255, 255);
    padding: none;
    text-align: center;
    text-decoration: none;
    font-size: 60px;
  }

  a:link, a:visited {
    text-align: center;
    text-decoration: none;
    color: black;
  }
  
  a:hover, a:active {
    text-decoration: none;
    color: black;
  }