body {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-color: beige;
    text-align: center;
}
a.head:link, a.head:visited, a.head:hover, a.head:active {
  text-align: center;
  text-decoration: none;
  color: black;
  background-color: white;
  height: auto;
  width: auto;
  font-size: 60px;
}
a:link, a:visited {
  background-color: black;
    color: white;
    padding-top: 40px;
    text-align: center;
    display: inline-block;
    text-decoration: none;
    width: 100%;
    font-size: 30px;
  }
  
  a:hover, a:active {
    background-color: rgb(177, 72, 72);
    text-transform: uppercase;
    width: 100%;

  }

  nav[role="left"] {
    float: left;
    width: 20%;
    min-height: 90vh;
    background: rgb(83, 2, 2);
    padding: none;
  }
  article {
    float: right;
    padding: none;
    width: 80%;
    min-height: 90vh;
    font-size: 30px;
  }

  nav[role="head"] {
    float: top;
    width: 100%;
    height: 10%;
    background: rgb(255, 255, 255);
    padding: none;
    text-align: center;
    text-decoration: none;
  }

  